*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 188, 196);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end; /* joga pro fundo */
    justify-content: center;
    padding-bottom: 50px; /* controla a altura da mesa */
}


.placar{
    position: absolute;
    top: 0;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

/*Configuração da mesa*/
.mesa{
    display: flex;
    overflow: hidden; /* corta o que sair da mesa */
    background-image: url('imagem/fundo_mesa.jpg'); /* sua imagem */
    background-size: cover;   /* cobre toda a área */
    height: 90%;
    width: 80%;
    border-radius: 50%;
    border: 10px solid saddlebrown;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/*Configuracao de maos*/
.mao{
    display: flex;
    flex-direction: row;
}

.carta-jogador2{
    margin-top: -15px;
}

/*Configuração das cartas*/
.carta{
    margin-left: 10px;
    padding: 5px;
    width: 100px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    background-size: cover; /* cobre toda a carta */
    background-position: center;
    border-radius: 15px;
    border: 2px solid black;
}


.carta:hover{
    background-color: rgb(255, 255, 255);
}

.fundo-carta{
    margin-left: 10px;
    padding: 5px;
    width: 100px;
    height: 150px;
    background-image: url('imagem/fundo-verso.png'); /* verso */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: black;
}

.nipe{
    width: 20px;
    height: 20px;
}

.num-carta{
    font-size: 25px;
    font-weight: bold;
    margin-left: 4px;
}

.red{
    color: red;
}

.black{
    color: black;
}

.green{
    color: green;
}

.simb-dir-carta{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
}

.simb-esq-carta{
    display: flex;
    flex-direction: column;
}

.espadas{
    content: url('imagem/espada.png');
}

.paus{
    content: url('imagem/paus.png');
}

.ouros{
    content: url('imagem/ouros.jpg');
}

.copas{
    content: url('imagem/copas.png');
}

